<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>Project1</display-name>
  <!-- setting up the pairs between the routes, to different servlets -->
 <!--in this element, we declare our servlet to the web container -->
	<servlet>
		<servlet-name>CompanyLogin</servlet-name>
		<servlet-class>Project1.CompanyLogin</servlet-class>
	</servlet>
<!--in this element, we map the servlet to the url patter --> 

	<servlet-mapping>
		<servlet-name>CompanyLogin</servlet-name>
		<url-pattern>/companyLogin</url-pattern>
	</servlet-mapping>
</web-app>